* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4DA167;
}

.header h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #3BC14A;
    color: white;
}

.subtitulo h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
}

.container-form {
    margin-bottom: 40px;
}

.form div {
    margin-bottom: 40px;
}

.form div label {
    color: white;
    font-size: 20px;
}

.form div input {
    padding: 10px;
    border: 3px solid white;
    background: none;
    color: white;
    font-size: 15px;
}

.calc {
    cursor: pointer;
}

.reset {
    margin-left: 10px;
    cursor: pointer;
}

.result {
    font-size: 30px;
    color: white;
    transform: translate3d(0, -30px, 0);
    opacity: 0;
    transition: .8s;
}

.result.ativo {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}